[submodule "skia"]
	path = externals/skia
	url = https://github.com/mono/skia.git
[submodule "depot_tools"]
	path = externals/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "externals/angle_desktop"]
	path = externals/angle_desktop
	url = https://github.com/Microsoft/angle.git
