[submodule "externals/skia"]
	path = externals/skia
	url = https://github.com/mono/skia.git
	branch = xamarin-mobile-bindings
[submodule "externals/depot_tools"]
	path = externals/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
	branch = master
