[submodule "externals/skia"]
	path = externals/skia
	url = https://github.com/mono/skia.git
	branch = skiasharp
[submodule "docs"]
	path = docs
	url = https://github.com/mono/SkiaSharp-API-docs
	branch = master
