@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">SkiaSharp Web Sample</h1>
    <p>Server-side image rendering with <a href="https://github.com/mono/SkiaSharp">SkiaSharp</a> in an <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a> Razor Pages app.</p>
</div>

<div class="row g-4">
    <div class="col-sm-4">
        <div class="card h-100">
            <img class="card-img-top" src="/api/images/SkiaSharp" alt="SkiaSharp rendered text">
            <div class="card-body">
                <h5 class="card-title">Text Rendering</h5>
                <p class="card-text">Renders centered text on a white background using SKCanvas and SKPaint.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card h-100">
            <img class="card-img-top" src="/api/images/generated" alt="SkiaSharp generated gradient">
            <div class="card-body">
                <h5 class="card-title">Gradient &amp; Shapes</h5>
                <p class="card-text">Generates a radial gradient background with semi-transparent circles.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card h-100">
            <img class="card-img-top" src="/api/images/images!" alt="SkiaSharp custom image">
            <div class="card-body">
                <h5 class="card-title">Custom Rendering</h5>
                <p class="card-text">Custom scene rendered server-side and served as a PNG image via the API.</p>
            </div>
        </div>
    </div>
</div>
