@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/api/images/SkiaSharp" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">SkiaSharp</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://github.com/mono/SkiaSharp" class="btn btn-primary">Go to SkiaSharp</a>
    </div>
</div>
