body {
  font-family: Consolas, 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  word-break: break-all;
  padding: 1em;
}

.test-fail {
  color: red;
}
.test-skip {
  color: orange;
}
.test-pass {
  color: green;
}

.test-results {
  color: black;
}
