@page "/raster"

<h1>Raster (Bitmap) Canvas</h1>

<p>The canvas below is using pixels in memory. Click and drag to draw a line.</p>

<div class="container">
    <div class="row">
        <div class="col border rounded p-2 canvas-container">

            <SKCanvasView @ref="skiaView"
                          OnPaintSurface="OnPaintSurface" IgnorePixelScaling="true"
                          Touch="OnTouch" EnableTouchEvents="true" />

        </div>
    </div>
</div>

@code {
    SKCanvasView skiaView = null!;
    SKPath? drawing;

    void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        // the the canvas and properties
        var canvas = e.Surface.Canvas;

        // make sure the canvas is blank
        canvas.Clear(SKColors.White);

        // decide what the text looks like
        using var paint = new SKPaint
            {
                Color = SKColors.Black,
                IsAntialias = true,
                Style = SKPaintStyle.Fill
            };
        using var font = new SKFont
            {
                Size = 24
            };

        // draw some text
        var coord = new SKPoint(e.Info.Width / 2, (e.Info.Height + font.Size) / 2);
        canvas.DrawText("SkiaSharp", coord, SKTextAlign.Center, font, paint);

        // draw the path
        if (drawing != null)
        {
            paint.Style = SKPaintStyle.Stroke;
            paint.StrokeWidth = 5;

            canvas.DrawPath(drawing, paint);
        }
    }

    void OnTouch(SKTouchEventArgs e)
    {
        switch (e.ActionType)
        {
            case SKTouchAction.Pressed:
                drawing = new SKPath();
                drawing.MoveTo(e.Location);
                e.Handled = true;
                break;

            case SKTouchAction.Moved:
                if (drawing is not null)
                {
                    drawing.LineTo(e.Location);
                    e.Handled = true;
                }
                break;

            case SKTouchAction.Released:
                drawing = null;
                e.Handled = true;
                break;
        }

        skiaView.Invalidate();
    }
}
