@namespace SkiaSharp.Dashboard.Layout

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/logo.png" alt="SkiaSharp" height="24" class="me-2" />
            Dashboard
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Insights
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="issues">
                <span class="bi bi-list-nav-menu" aria-hidden="true"></span> Issues
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pr-triage">
                <span class="bi bi-git-nav-menu" aria-hidden="true"></span> Pull Requests
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="community">
                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Community
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nuget">
                <span class="bi bi-box-nav-menu" aria-hidden="true"></span> NuGet
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
