<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SkiaSharp SSR</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inline">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inline Base64
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="endpoint">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Image Endpoint
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="canvas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> JS Canvas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wasm-island">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> WASM Island
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auto">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Auto Mode
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
