trigger:
  - main
  - develop
  - release/*

pr:
  - main
  - develop
  - release/*

parameters:
  - name: buildExternals
    displayName: 'The specific native artifacts to use for this build.'
    type: string
    default: 'latest'
  - name: VM_IMAGE_HOST
    type: object
    default:
      pool:
        name: Azure Pipelines
        vmImage: ubuntu-20.04
  - name: VM_IMAGE_WINDOWS
    type: object
    default:
      pool:
        name: Azure Pipelines
        vmImage: windows-2022
  - name: VM_IMAGE_MAC
    type: object
    default:
      pool:
        name: Azure Pipelines
        vmImage: macos-12
  - name: VM_IMAGE_LINUX
    type: object
    default:
      pool:
        name: Azure Pipelines
        vmImage: ubuntu-20.04

pool:
  name: Azure Pipelines
  vmImage: ubuntu-20.04

variables:
  - template: /scripts/azure-pipelines-variables.yml@self

stages:
  - template: /scripts/azure-templates-stages.yml@self
    parameters:
      buildPipelineType: 'both'
      buildExternals: ${{ parameters.buildExternals }}
      VM_IMAGE_HOST: ${{ parameters.VM_IMAGE_HOST }}
      VM_IMAGE_WINDOWS: ${{ parameters.VM_IMAGE_WINDOWS }}
      VM_IMAGE_WINDOWS_NATIVE: ${{ parameters.VM_IMAGE_WINDOWS }}
      VM_IMAGE_MAC: ${{ parameters.VM_IMAGE_MAC }}
      VM_IMAGE_MAC_NATIVE: ${{ parameters.VM_IMAGE_MAC }}
      VM_IMAGE_LINUX: ${{ parameters.VM_IMAGE_LINUX }}
      VM_IMAGE_LINUX_NATIVE: ${{ parameters.VM_IMAGE_LINUX }}
