trigger: none

pr: none

parameters:
  - name: buildExternals
    displayName: 'The specific native artifacts to use for this build.'
    type: number
    default: 0
  - name: VM_IMAGE_WINDOWS
    type: object
    default:
      name: Azure Pipelines
      vmImage: windows-2022
  - name: VM_IMAGE_MAC
    type: object
    default:
      name: VSEng-VSMac-Xamarin-Shared
      vmImage: VSEng-VSMac-Xamarin-Shared
      demands:
        - macOS.Name -equals Monterey
        - macOS.Architecture -equals x64
        - Agent.HasDevices -equals False
        - Agent.IsPaired -equals False
  - name: VM_IMAGE_LINUX
    type: object
    default:
      name: Azure Pipelines
      vmImage: ubuntu-18.04

variables:
  - template: azure-pipelines-variables.yml

resources:
  repositories:
    - repository: xamarin-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
      ref: refs/heads/main
  pipelines:
    - pipeline: SkiaSharp
      source: SkiaSharp
      trigger: true

stages:
  - template: azure-templates-stages.yml
    parameters:
      isBuildPipeline: false
      buildExternals: ${{ parameters.buildExternals }}
      VM_IMAGE_WINDOWS: ${{ parameters.VM_IMAGE_WINDOWS }}
      VM_IMAGE_MAC: ${{ parameters.VM_IMAGE_MAC }}
      VM_IMAGE_LINUX: ${{ parameters.VM_IMAGE_LINUX }}
