trigger:
  - main
  - develop
  - release/*

pr:
  - main
  - develop
  - release/*

parameters:
  - name: buildExternals
    displayName: 'The Build ID containing the specific native artifacts to use:'
    type: string
    default: 'latest'
  - name: buildAgentHost
    displayName: 'The generic host build agent configuration:'
    type: object
    default:
      pool:
        name: AzurePipelines-EO
        image: 1ESPT-Windows2022
        os: windows
  - name: buildAgentWindows
    displayName: 'The Windows build agent configuration:'
    type: object
    default:
      pool:
        name: AzurePipelines-EO
        image: 1ESPT-Windows2022
        os: windows
  - name: buildAgentMac
    displayName: 'The macOS build agent configuration:'
    type: object
    default:
      pool:
        name: Azure Pipelines
        vmImage: macos-13
        os: macos
  - name: buildAgentLinux
    displayName: 'The Linuk build agent configuration:'
    type: object
    default:
      pool:
        name: AzurePipelines-EO
        image: 1ESPT-Ubuntu20.04
        os: linux
  - name: runCompliance
    displayName: 'Run post-build compliance tasks (such as API Scan)'
    type: boolean
    default: false
  - name: use1ESPipelineTemplates
    displayName: 'Run the build using the internal 1ES Pipeline Templates'
    type: boolean
    default: true

variables:
  - template: /scripts/azure-pipelines-variables.yml@self

resources:
  repositories:
    - repository: xamarin-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
      ref: refs/heads/main
    - repository: 1ESPipelineTemplates
      type: git
      name: 1ESPipelineTemplates/1ESPipelineTemplates
      ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool: ${{ parameters.buildAgentHost.pool }}
    customBuildTags:
      - ES365AIMigrationTooling
    stages:
      - template: /scripts/azure-templates-stages.yml@self
        parameters:
          buildPipelineType: 'build'
          buildExternals: ${{ parameters.buildExternals }}
          runCompliance: ${{ parameters.runCompliance }}
          buildAgentHost: ${{ parameters.buildAgentHost }}
          buildAgentWindows: ${{ parameters.buildAgentWindows }}
          buildAgentWindowsNative: ${{ parameters.buildAgentWindows }}
          buildAgentMac: ${{ parameters.buildAgentMac }}
          buildAgentMacNative: ${{ parameters.buildAgentMac }}
          buildAgentLinux: ${{ parameters.buildAgentLinux }}
          buildAgentLinuxNative: ${{ parameters.buildAgentLinux }}