trigger:
  - main
  - develop
  - release/*

pr:
  - main
  - develop
  - release/*

parameters:
  - name: buildExternals
    displayName: 'The Build ID containing the specific native artifacts to use:'
    type: string
    default: 'latest'
  - name: buildAgentHost
    displayName: 'The generic host build agent configuration:'
    type: object
    default:
      pool:
        name: MAUI-Xamarin-Temp
        vmImage: 1ESPT-Ubuntu22.04
        os: linux
  - name: buildAgentWindows
    displayName: 'The Windows build agent configuration:'
    type: object
    default:
      pool:
        name: MAUI-Xamarin-Temp
        vmImage: 1ESPT-Windows2022
        os: windows
  - name: buildAgentWindowsNative
    displayName: 'The Windows build agent configuration for building the native assets:'
    type: object
    default:
      pool:
        name: MAUI-Xamarin-Temp
        vmImage: 1ESPT-Windows2022
        os: windows
  - name: buildAgentMac
    displayName: 'The macOS build agent configuration:'
    type: object
    default:
      pool:
        name: Azure Pipelines
        vmImage: macos-14
        os: macos
  - name: buildAgentMacNative
    displayName: 'The macOS build agent configuration for building the native assets:'
    type: object
    default:
      pool:
        name: Azure Pipelines
        vmImage: macos-14
        os: macos
  - name: buildAgentLinux
    displayName: 'The Linux build agent configuration:'
    type: object
    default:
      pool:
        name: MAUI-Xamarin-Temp
        vmImage: 1ESPT-Ubuntu22.04
        os: linux
  - name: buildAgentLinuxNative
    displayName: 'The Linux build agent configuration for building the native assets:'
    type: object
    default:
      pool:
        name: MAUI-Xamarin-Temp
        vmImage: 1ESPT-Ubuntu20.04
        os: linux
  - name: buildAgentAndroidTests
    displayName: 'The build agent configuration for building the Android tests:'
    type: object
    default:
      pool:
        name: Azure Pipelines
        vmImage: macos-14
        os: macos
      parameters:
        installXcode: false

variables:
  - template: /scripts/azure-pipelines-variables.yml@self

extends:
  template: /scripts/azure-template.yml@self
  parameters:
    pool: ${{ parameters.buildAgentHost.pool }}
    stages:
      - template: /scripts/azure-templates-stages.yml@self
        parameters:
          buildPipelineType: 'both'
          buildExternals: ${{ parameters.buildExternals }}
          buildAgentHost: ${{ parameters.buildAgentHost }}
          buildAgentWindows: ${{ parameters.buildAgentWindows }}
          buildAgentWindowsNative: ${{ parameters.buildAgentWindowsNative }}
          buildAgentMac: ${{ parameters.buildAgentMac }}
          buildAgentMacNative: ${{ parameters.buildAgentMacNative }}
          buildAgentLinux: ${{ parameters.buildAgentLinux }}
          buildAgentLinuxNative: ${{ parameters.buildAgentLinuxNative }}
          buildAgentAndroidTests: ${{ parameters.buildAgentAndroidTests }}
