.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

::deep .sidebar {
    background-color: #2c3e50;
}

::deep .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

::deep .top-row a {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #6c757d;
}

::deep .top-row a:hover {
    color: #007bff;
    text-decoration: underline;
}

@media (max-width: 640.98px) {
    ::deep .top-row {
        justify-content: space-between;
    }

    ::deep .top-row a {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    ::deep .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    ::deep .top-row, ::deep article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
