::deep .sidebar {
    background-color: #2c3e50;
}

::deep .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

::deep .top-row a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #6c757d;
}

::deep .top-row a:hover {
    color: #007bff;
}
